.card {
  flex: 0 1 24%;
  background: rgb(5, 5, 5);
  border-radius: 5px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 5px 10px rgb(36, 35, 35), 0 5px 10px rgb(37, 37, 37);
  text-align: left;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}